<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="htt.com.social_network_backend.mapper.UserMapper">
    <select id="getAllUser" resultMap="result">
        select * from users
    </select>

    <select id="getById" parameterType="integer" resultMap="result">
        select * from users where id = #{id}
    </select>

    <resultMap id="result" type="UserModel" />
</mapper>